.fondo {
  background-color: rgb(23, 162, 184);
}

.margen {
  padding: 1%;
  border-radius: 5px;
}

#visor {
  font-family: 'Press Start 2P', cursive;
}

#titulo {
  font-family: 'Lobster', cursive;
}

.borde {
  -webkit-box-shadow: 0 3px 9px black;
}

.table td {
  padding: 10px;
}

.btn-lg {
  font-size: 1.5rem;
  padding: 20px;
}

.input-lg {
  height: 60px;
  font-size: 1.5rem;
}