
.fundo-mod {
    background-color: rgb(23, 162, 184);
        
  }

  .margem {
    padding: 1%;
    border-radius: 5px;
    
  }
  .mesmo-tamanho {
    border-radius: 1px;
    
}

.display {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
#visor{
  font-family: 'Press Start 2P', cursive;
}
#historico{
  font-family: 'Press Start 2P', cursive;
}
#titulo{
  font-family: 'Lobster', cursive;
}
.borda{
  -webkit-box-shadow: 0 3px 9px black;
  box-shadow: 0 3px 9px black;
  border-radius: 3px;
  -webkit-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

.centro {
  width:100%;
  height:100%;
  }