<div class="container my-4">
        <div class="row justify-content-center">
                <div class="col-xs-12 text-center" id="titulo">
                        <h3>Calculadora Básica</h3>
                </div>
        </div>
        <div class="row justify-content-center align-items-center my-4">
                <div class="col-xs-12 col-sm-6 col-md-3 fondo margen borde">
                        <div class="d-flex justify-content-center">
                                <table class="table table-dark text-center">
                                        <tr>
                                                <td colspan="4">
                                                        <input [(ngModel)]="numero1" type="text" name="visor" id="visor"
                                                                class="form-control mb-4 input-lg" />
                                                </td>
                                        </tr>
                                        <tr>
                                                <td><input type="button" id="7" value="7" (click)="anadirDigito('7')"
                                                                class="btn btn-secondary btn-lg btn-block" /></td>
                                                <td><input type="button" id="8" value="8" (click)="anadirDigito('8')"
                                                                class="btn btn-secondary btn-lg btn-block" /></td>
                                                <td><input type="button" id="9" value="9" (click)="anadirDigito('9')"
                                                                class="btn btn-secondary btn-lg btn-block" /></td>
                                                <td><input type="button" id="limpiar" value="C"
                                                                (click)="limpiarPantalla()"
                                                                class="btn btn-info btn-lg btn-block" /></td>
                                        </tr>
                                        <tr>
                                                <td><input type="button" id="4" value="4" (click)="anadirDigito('4')"
                                                                class="btn btn-secondary btn-lg btn-block" /></td>
                                                <td><input type="button" id="5" value="5" (click)="anadirDigito('5')"
                                                                class="btn btn-secondary btn-lg btn-block" /></td>
                                                <td><input type="button" id="6" value="6" (click)="anadirDigito('6')"
                                                                class="btn btn-secondary btn-lg btn-block" /></td>
                                                <td><input type="button" id="mas" value="+"
                                                                (click)="anadirOperacion('+')"
                                                                class="btn btn-info btn-lg btn-block" /></td>
                                        </tr>
                                        <tr>
                                                <td><input type="button" id="1" value="1" (click)="anadirDigito('1')"
                                                                class="btn btn-secondary btn-lg btn-block" /></td>
                                                <td><input type="button" id="2" value="2" (click)="anadirDigito('2')"
                                                                class="btn btn-secondary btn-lg btn-block" /></td>
                                                <td><input type="button" id="3" value="3" (click)="anadirDigito('3')"
                                                                class="btn btn-secondary btn-lg btn-block" /></td>
                                                <td><input type="button" id="menos" value="-"
                                                                (click)="anadirOperacion('-')"
                                                                class="btn btn-info btn-lg btn-block" /></td>
                                        </tr>
                                        <tr>
                                                <td><input type="button" id="0" value="0" (click)="anadirDigito('0')"
                                                                class="btn btn-secondary btn-lg btn-block" /></td>
                                                <td></td>
                                                <td></td>
                                                <td><input type="button" id="igual" value="="
                                                                (click)="anadirResultado()"
                                                                class="btn btn-info btn-lg btn-block" /></td>
                                        </tr>
                                </table>
                        </div>
                </div>
        </div>
</div>